@font-face {
  src: url("/src/fonts/Inter-Regular.otf");
  font-family: 'inter', Arial,sans-serif;
  font-weight: 400;
}

@font-face {
  src: url("/src/fonts/Inter-Medium.otf");
  font-family: 'inter', Arial,sans-serif;
  font-weight: 700;
}